.card-front {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.cardnumber-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
  padding-bottom: 30px;
}

.cardnumber-inputs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.cardnumber-inputs input {
  font-size: 27px;
  text-align: center;
  border: 1px solid gray;
  border: none;
  background: none;
  width: 60px;
  height: 36px;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  outline: none;
}

.card-type {
  padding-left: 30px;
  padding-top: 20px
}

.card-type-image-container {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}

.card-type-image-container img {
  max-height: 100%;
  max-width: 100%;
}