.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flip-button, .pay-button {
  width: 170px;
  height: 60px;
  font-size: 24px;
  background: black;
  color: white;
  display: block;
  margin: auto;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 10px;
}

.flip-button {
  margin-top: 50px;
}

.pay-button {
  background-color: green;
  color: white;
  margin-top: 10px;
  transition: all 0.25s ease;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.card-font {
  font-family: 'Titillium Web', sans-serif;
}

.button-disabled {
  background-color: gray;
}